@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Nosifer&display=swap');

h1 {
    font-family: "Nosifer";
    text-align: center;
    padding-top: 2vh;
}

a {
    text-align: center;
    color: black;
    text-decoration: none;
    transition: none;
}
